<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865775608464-3ebp8hhnqmnr5h5gnh0e4r70ddtsvjmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865775608464-3ebp8hhnqmnr5h5gnh0e4r70ddtsvjmn</string>
	<key>API_KEY</key>
	<string>AIzaSyDcV2YO1BBL01vW7MTKJPMEkg2lbd0BKi4</string>
	<key>GCM_SENDER_ID</key>
	<string>865775608464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Shoosen</string>
	<key>PROJECT_ID</key>
	<string>shoosen-413a3</string>
	<key>STORAGE_BUCKET</key>
	<string>shoosen-413a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865775608464:ios:d9cb1cae5c27045f5eae15</string>
</dict>
</plist>